{% extends 'blog/base.html' %}
<!DOCTYPE html>
<html lang="en">
    <body>
        {% block content %}
        <section id="create" class="py-5">
            <div class="container-md">
                <h2>Create a blog post</h2>
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p}}
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endblock %}
    </body>
</html>
